<div class="container">
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
            <h5 class="description">Coming soon...</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
            <div class="col-md-4">
                <!-- <a class="btn btn-primary btn-round" (click)="toggelPopUp=!toggelPopUp">Add item</a> -->
                <button type="button" class="btn btn-primary"  (click)="toggelPopUp=!toggelPopUp" data-toggle="modal" data-target="#myModal">
                        Open modal
                      </button>
            </div>
            <div class="col-md-4">
                
                {{toggelPopUp}}
            </div>
            <div class="col-md-4">

            </div>

        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-add-edit-list *ngIf="toggelPopUp"></app-add-edit-list>