<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <!-- <a class="navbar-brand" href="https://github.com/RajeevSingh273/CoreNextGen">
                <img src="../../../../../assets/img/logo.png" alt="CoreNextGen" />
            </a> -->
            <a class="nav-link" rel="tooltip" [routerLink]="['/']" data-placement="ml-auto">
                <!-- <h3>{{BrandName}}</h3>  -->
                <h3 style="margin:0 0 0">
                    <span style="color: orange">{{BrandFirstName}}</span>
                    <span style="color: #9a9a9a"> {{BrandSecondName}}</span>
                </h3>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLink]="['/home']" data-placement="bottom">
                                Home
                            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLink]="['/parent']" data-placement="bottom">
                        Parent Page
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/java']" data-placement="bottom">
                        Java Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/dotnetcore']" data-placement="bottom">
                        DotNet Core Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/nodejs']" data-placement="bottom">
                        Nodejs Page
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/todolist']" data-placement="bottom">
                        Todo List
                    </a>
                </li>
                <!-- <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" role="button" aria-haspopup="true"
                        aria-expanded="true">Todo List</a>
                    <ul class="dropdown-menu dropdown-info" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-header">Todo List in</li>
                        <a class="dropdown-item" [routerLink]="['/java']">Java</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/dotnetcore']">DotNet Core</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/nodejs']">Nodejs</a>
                    </ul>
                </div> -->

            </ul>
        </div>
    </div>
</nav>