<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <!-- <a class="navbar-brand" href="https://github.com/RajeevSingh273/CoreNextGen">
                <img src="../../../../../assets/img/logo.png" alt="CoreNextGen" />
            </a> -->
            <a class="nav-link" rel="tooltip" [routerLink]="['/home']" data-placement="ml-auto">
                <!-- <h3>{{BrandName}}</h3>  -->
                <h3 style="margin:0 0 0">
                    <span style="color: orange">{{BrandFirstName}}</span>
                    <span style="color: rgb(55, 98, 105)"> {{BrandSecondName}}</span>
                </h3>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLink]="['/home']" data-placement="bottom">
                        Parent Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/home']" data-placement="bottom">
                        Java Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/home']" data-placement="bottom">
                        DotNet Core Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="['/home']" data-placement="bottom">
                        Nodejs Page
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>