<footer class="footer">
    <div class="container">
            <div class="dropdown-divider"></div>
        
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://github.com/RajeevSingh273/CoreNextGen">V-One team</a></li>
                    <li><a href="https://github.com/RajeevSingh273/CoreNextGen">Blog</a></li>
                    <li><a href="https://github.com/RajeevSingh273/CoreNextGen/blob/Development/README.md">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, by V-One Team.
                </span>
            </div>
        </div>
    </div>
</footer>
