<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Todo List</h2>
                    <h5 class="description">Using bellow API's.</h5>
                    <br>
                    <a class="btn btn-danger btn-round" [routerLink]="['nodejs']">Nodejs</a>
                    <a class="btn btn-danger btn-round" [routerLink]="['java']">Java</a>
                    <a class="btn btn-danger btn-round" [routerLink]="['dotnetcore']">DotNetCore</a>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>