<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <br>fffffff {{tttt}} hhhhhhh
                    <h5 class="description">Todo List with backend API's.{{tttt}}</h5>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mr-auto">
                    <div class="card card-pricing">
                        <div class="card-body">
                            <h6 class="card-category">Todo List: Node js</h6>
                            <p class="card-description">
                                This is good if you are using MEAN stack.
                            </p>
                            <div class="card-footer">
                                <button class="btn btn-info btn-round" [routerLink]="['nodejs']" (click)="isChield!=isChield">Go => Todo List</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-auto">
                    <div class="card card-pricing">
                        <div class="card-body">
                            <h6 class="card-category">Todo List: Java</h6>

                            <p class="card-description">
                                This is good if you are form Java background..
                            </p>
                            <div class="card-footer">
                                <button class="btn btn-info btn-round" [routerLink]="['java']" (click)="isChield!=isChield">Go => Todo List</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-auto">
                    <div class="card card-pricing">
                        <div class="card-body">
                            <h6 class="card-category">Todo List: DotNetCore</h6>

                            <p class="card-description">
                                This is good if you are form .net Core background.
                            </p>
                            <div class="card-footer">
                                <button class="btn btn-info btn-round" [routerLink]="['dotnetcore']" (click)="isChield!=isChield">Go => Todo List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <router-outlet></router-outlet>
            </div>

        </div>
        <div class="row">
            <button class="btn btn-info btn-round" (cliek)="isChield!=isChield">  Back </button>
        </div>

    </div>